<?php

$loader = require_once __DIR__ . '/../vendor/autoload.php';
// FIXME: For some reason require_once didn't return the loader
//$loader->add('Endurance', array(__DIR__ . '/../src/', __DIR__));
//$loader->register();
